form
{
  height: 850px;
}
.container
{
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background: url('../../../assets/img/vino7.jpg') no-repeat center;
  overflow: hidden;
  border: 1px solid ;
  border-radius: 20px;
  justify-content: center;
}
h1
{
  color: dimgray;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 500;
}
h2
{
  color: darkgray;
  font-weight: bold;
  text-decoration: solid;

}
label{
  color: black;
  font-weight: bold;
}
input{
  height: 35px;
  width: 25%;
  background-color: transparent;
  border: 1px solid;
  border-radius: 20px;


}

p
{
  color: dimgray;
  text-decoration: none;
}
button{
  height: 45px;
  width: 20%;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: inherit;
  cursor: pointer;
  border-radius: 25px;
  user-select: none;
  background-color: transparent;
  border: none;
  color: black;
  font-weight: bold;
}
.login-form-buttons_signup
{
  height: 45px;
  width: 20%;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: inherit;
  cursor: pointer;
  border-radius: 25px;
  user-select: none;
  background-color: transparent;
  border: none;
  color: black;
  font-weight: bold;
}


